@model MVC_ReleaseDateSite.ViewModels.OverviewSingleViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Single";
}

@section styles{
    <!-- My CSS-->
    <link href="~/css/singleRelease.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #BtnSubmit {
            user-select: none;
        }

        .read-more {
            text-align: center;
            font-weight: bold;
            user-select: none;
            text-transform: capitalize;
            color: var(--title-secondary-color);
            margin-top: 7px;
            cursor: pointer;
            transition-duration: .15s;
            margin-top: 2px;
        }

            .read-more:hover {
                color: #0056b3;
            }
    </style>
}
@{string followState = (Model.Release.Followed) ? "unfollow" : "follow"; }


<div id="wrapper">
    <div class="container">
        <div class="row">
            <!-- Holds the user who posted and the follow button-->
                <div class="col-sm-6 col-md-3 offset-md-1 text-center" style="display:flex;flex-direction:column; margin-top: 80px; /*align-self: center;*/">
                    <div class="d-flex justify-content-end">
                        <img src=@Html.DisplayFor(model => model.Release.Owner.ImgLocation) class="clickable user-icon d-inline-block" style="transform: translateY(-25%)" />
                        <p class="text-left text-muted ml-2 w-50 d-inline-block">@Html.DisplayFor(model => model.Release.Owner.Username) <br /> @Model.Release.PostDate</p>
                    </div>
                    <!-- Follow button -->
                    @if (!string.IsNullOrEmpty(Context.Session.GetInt32("_userId").ToString())) {
                        <!-- a href=@((Model.Release.Followed) ? Url.Action("unfollow","Release", new {id=Model.Release.Id}) :  Url.Action("follow","Release", new {id=Model.Release.Id})) Model.Release.Id)-->
                        <div class="primary-button @((Model.Release.Followed) ? "error-button" : "correct-button") btn clickable d-block w-75 mx-auto" id="followBtn" data-followstate=@followState data-releaseid=@Model.Release.Id></div>
                        <!--/a-->
                    }
                </div>

            <!-- Holds thumbnail title release date and follower count -->
            <div class="col-sm-6 col-md-4 text-center flex-wrap">
                <img src=@Html.DisplayFor(model => model.Release.ImgLocation) class="img-large">
                <h3 class="m-0 p-0">@Html.DisplayFor(model => model.Release.Title)</h3>
                <h3 class="text-info m-0 p-0">@Html.DisplayFor(model => model.Release.ReleaseDate)</h3>
                <span class="text-muted"><span id="followCounter">@Html.DisplayFor(model => model.Release.FollowerCount)</span> followers</span>
            </div>

            <!-- Holds the description -->
            @if (!string.IsNullOrEmpty(Model.Release.Description)) {
                <div class="col-sm-12 col-md-4 text-center">
                    <strong>Description</strong>
                    <div class="px-1 py-sm-3 py-md-1 overflow-hidden standard-border description">@Html.DisplayFor(model => model.Release.Description)</div>
                    <p class="read-more" onclick="ReadMore(this, document.querySelector('.description'))">Read more</p>
                </div>
            }
        </div> <!-- End row -->
        <div class="row mt-5 text-center" id="CommentList">
            <!-- Holds the comments -->
            <h4 class="col-12 text-muted">Comments</h4>

            @if (!string.IsNullOrEmpty(Context.Session.GetInt32("_userId").ToString())) {
                <!-- Your comment -->
                <div class="d-flex col-sm-10 offset-sm-1 col-md-6 offset-md-3 my-2 py-2 standard-border comment" id="CommentField">
                    <img src="@Context.Session.GetString("_userImg")" class="my-auto user-icon clickable"> <!--https://via.placeholder.com/50x50-->
                    <textarea placeholder="Your comment" class="w-100 standard-text-box" id="CommentBox" name="comment"></textarea>
                    <div class="mt-auto text-info clickable"><div id="BtnSubmit"><strong>Post</strong></div></div>
                </div>
            }

            <!-- Other comments -->
            @foreach (CommentViewModel comment in Model.Comments) {
                <div class="d-flex col-sm-10 offset-sm-1 col-md-6 offset-md-3 my-2 standard-border comment" data-commentId="@comment.Id">
                    <img src="@comment.Owner.ImgLocation" class="my-auto user-icon clickable"> <p class="pl-2 text-left">@comment.Text</p>
                    <div class="mt-auto text-info position-absolute pb-1 pl-1 abs-bot abs-left clickable BtnReply"><strong>Reply</strong></div>
                    <div class="mt-auto text-secondary position-absolute abs-bot abs-right pb-1 pr-1">@comment.TimeSincePosted</div>
                </div>
            }


        </div> <!-- End row -->
    </div> <!-- End container -->


</div>

@section scripts{
<script type="text/javascript">
    ShowReadMoreIfOverflown(document.querySelector(".description"));

    function ShowReadMoreIfOverflown(element) {
        if (element.scrollHeight <= element.clientHeight)
            document.querySelector(".read-more").classList.add("d-none");
    }

    function ReadMore(readMoreBtn, descriptionBox) {
        if (readMoreBtn.innerText.toLowerCase().includes("more")) {
            readMoreBtn.innerText = "show less";
            descriptionBox.style.maxHeight = "unset";
        }
        else {
            readMoreBtn.innerText = "read more";
            descriptionBox.style.maxHeight = "202px";
        }
    }
 </script>

<!--<script src="~/js/Bundles/single.min.js"></script> -->
<script type="text/javascript" src="~/js/Release/Single/setFollowEventhandlersSingle.js"></script>
<script type="text/javascript" src="~/js/Release/UpdateFollowstateAjax.js"></script>
<script type="text/javascript" src="~/js/Release/Single/PostComment.js"></script>
<script type="text/javascript" src="~/js/Release/Single/PostReplyComment.js"></script>
}


